.public_page {
  background-color: #d9e0e7;
  color: #707478;
}
.login-box {
  margin-top: 168px;
  position: relative;
  background-color: #2d353c!important;
}
.login-box .login-header {
  width: 450px;
  position: absolute;
  left: 50%;
  right: 0;
  top: -80px;
  font-size: 28px;
  font-weight: 300;
  margin-left: -225px;
  padding: 0 40px;
}
.login-box .login-header .brand small {
  font-size: 14px;
  display: block;
}
.login-box .login-header .icon {
  position: absolute;
  right: 40px;
  top: -2px;
  opacity: 0.2;
}
.login-box .login-header .icon i {
  font-size: 70px;
}
.login-box .login-content {
  width: 450px;
  margin: auto;
  padding: 30px 40px;
}
.login-box .checkbox-nice label {
  color: #707478;
}
